VITE_API_BASE_URL=http://localhost:8000
# Alternative key also supported by src/services/api.js
VITE_API_URL=http://localhost:8000



VITE_EMAILJS_SERVICE_ID=service_n4unjcg
VITE_EMAILJS_PUBLIC_KEY=NE9HowNKjH0tWyWkw
VITE_EMAILJS_TEMPLATE_ID=template_w5vg0q4